/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(font-awesome.css);
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../sass/screen.scss */
h2 {
  font-size: 130%;
  margin-bottom: 10px;
}

/* line 28, ../sass/screen.scss */
img {
  width: 100%;
  height: auto;
}

/* line 33, ../sass/screen.scss */
body {
  background: #CCECFF;
  font-size: 14px;
  font: 12px/18px Arial, Helvetica, sans-serif;
}
/* line 39, ../sass/screen.scss */
body .body-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  max-width: 960px;
}
/* line 44, ../sass/screen.scss */
body div {
  overflow: hidden;
}

/* line 50, ../sass/screen.scss */
.folder {
  background: #CCECFF;
  margin-top: 10px;
}
/* line 51, ../sass/screen.scss */
.folder .title {
  background: #eb2629;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 59, ../sass/screen.scss */
.folder .berita-terbaru {
  border-bottom: 1px dotted #0F68AA;
}
/* line 62, ../sass/screen.scss */
.folder .berita-terbaru h2 {
  font-weight: bold;
}
/* line 66, ../sass/screen.scss */
.folder .berita-terbaru img {
  width: 50%;
  float: left;
}
/* line 72, ../sass/screen.scss */
.folder .folder-fill-container {
  margin: 10px;
  padding-bottom: 10px;
}
/* line 76, ../sass/screen.scss */
.folder .folder-fill-container .meta-tag {
  margin-top: 5px;
}
/* line 79, ../sass/screen.scss */
.folder .folder-fill-container .meta-tag a {
  font-style: italic;
  color: #0F68AA;
  text-decoration: none;
}
/* line 85, ../sass/screen.scss */
.folder .folder-fill-container .meta-tag a:hover {
  font-weight: bold;
}
/* line 93, ../sass/screen.scss */
.folder .folder-fill ul {
  margin-bottom: 10px;
  list-style: disc;
  display: list-item;
}
/* line 98, ../sass/screen.scss */
.folder .folder-fill ul li {
  margin-left: 10px;
  margin-top: 5px;
  display: list-item;
}
/* line 104, ../sass/screen.scss */
.folder .folder-fill ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #0F68AA;
}
/* line 109, ../sass/screen.scss */
.folder .folder-fill ul li a:hover {
  text-decoration: underline;
}

/* line 122, ../sass/screen.scss */
#body-wrapper {
  background: #fff;
}
/* line 126, ../sass/screen.scss */
#body-wrapper .left-sidebar {
  width: 21%;
}
/* line 130, ../sass/screen.scss */
#body-wrapper .center-container {
  width: 51%;
}
/* line 134, ../sass/screen.scss */
#body-wrapper .right-sidebar {
  width: 21%;
}

/* line 139, ../sass/screen.scss */
.float-left {
  float: left;
}

/* line 143, ../sass/screen.scss */
.isi {
  background: #ebebeb;
  margin-top: 10px;
}
/* line 147, ../sass/screen.scss */
.isi .isi-folder {
  margin: 10px;
}
/* line 150, ../sass/screen.scss */
.isi .isi-folder table {
  border-collapse: collapse;
  display: table;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  border-left: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}
/* line 160, ../sass/screen.scss */
.isi .isi-folder table td {
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px;
}
/* line 169, ../sass/screen.scss */
.isi .isi-folder .title {
  border-bottom: 2px solid #D6D4D4;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
/* line 174, ../sass/screen.scss */
.isi .isi-folder .title h2 {
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 179, ../sass/screen.scss */
.isi .isi-folder .title .category {
  font-style: italic;
  font-size: 90%;
}
/* line 183, ../sass/screen.scss */
.isi .isi-folder .title .category a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
/* line 188, ../sass/screen.scss */
.isi .isi-folder .title .category a:hover {
  text-decoration: underline;
}
/* line 196, ../sass/screen.scss */
.isi .download-container {
  background: #D6D4D4;
}
/* line 199, ../sass/screen.scss */
.isi .download-container ul {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
/* line 204, ../sass/screen.scss */
.isi .download-container ul li {
  float: left;
  padding: 5px;
}
/* line 208, ../sass/screen.scss */
.isi .download-container ul li i {
  color: #eb2629;
}
/* line 212, ../sass/screen.scss */
.isi .download-container ul li a {
  text-decoration: none;
  color: #0F68AA;
}
/* line 216, ../sass/screen.scss */
.isi .download-container ul li a:hover {
  text-decoration: underline;
}

/* line 228, ../sass/screen.scss */
#header {
  width: 100%;
}
/* line 231, ../sass/screen.scss */
#header #logo img {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
}
/* line 238, ../sass/screen.scss */
#header #menu {
  background: #eb2629;
  color: white;
  font-size: 105%;
}
/* line 244, ../sass/screen.scss */
#header #menu a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}
/* line 249, ../sass/screen.scss */
#header #menu a:hover {
  color: #0F68AA;
}
/* line 255, ../sass/screen.scss */
#header #menu li {
  float: left;
  padding: 10px;
}
/* line 259, ../sass/screen.scss */
#header #menu li:hover {
  background: #C92427;
}
/* line 263, ../sass/screen.scss */
#header #menu li:hover > ul {
  display: block;
}
/* line 269, ../sass/screen.scss */
#header #menu li ul {
  display: none;
  position: absolute;
  z-index: 1001;
  color: #fff;
  min-width: 100px;
  margin-top: 10px;
}
/* line 284, ../sass/screen.scss */
#header #menu li ul li {
  display: block;
  padding: 10px 10px 10px 10px;
  margin-left: -10px;
  background: #eb2629;
  float: none;
  position: relative;
}
/* line 292, ../sass/screen.scss */
#header #menu li ul li:hover {
  background: #C92427;
  display: block !important;
}
/* line 297, ../sass/screen.scss */
#header #menu li ul li ul {
  display: none;
  right: -110px;
  top: -10px;
}

/* line 317, ../sass/screen.scss */
.margin10px {
  margin: 10px;
}

/* line 321, ../sass/screen.scss */
#footer {
  background: #414446;
  color: #898D8E;
  padding-bottom: 10px;
}
/* line 326, ../sass/screen.scss */
#footer .footer-container {
  width: 95%;
  min-height: 20%;
  margin-left: auto;
  margin-right: auto;
}
/* line 333, ../sass/screen.scss */
#footer .footer-list {
  width: 15%;
  padding: 10px;
  float: left;
  position: relative;
  display: block;
  max-height: 100%;
}
/* line 342, ../sass/screen.scss */
#footer h3 {
  font-size: 110%;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 351, ../sass/screen.scss */
#footer ul li {
  margin: 5px 0 5px 0px;
}
/* line 354, ../sass/screen.scss */
#footer ul a {
  text-decoration: none;
  color: inherit;
}
/* line 358, ../sass/screen.scss */
#footer ul a:hover {
  color: #0F68AA;
  font-weight: bold;
}

/* line 367, ../sass/screen.scss */
.slider {
  margin-top: 10px;
  position: relative;
}
/* line 371, ../sass/screen.scss */
.slider .ninja-wrap {
  position: relative;
  height: 300px;
  width: 100%;
}
/* line 378, ../sass/screen.scss */
.slider .slide {
  position: absolute;
  display: none;
}
/* line 382, ../sass/screen.scss */
.slider .slide img {
  width: 100%;
  height: auto;
}
/* line 389, ../sass/screen.scss */
.slider .slider-nav {
  text-align: center;
  padding-top: 5px;
}
/* line 395, ../sass/screen.scss */
.slider .slider-nav .slider-nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
}
/* line 402, ../sass/screen.scss */
.slider .slider-nav a {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 408, ../sass/screen.scss */
.slider .slider-nav ul li {
  float: left;
  margin-right: 5px;
}
/* line 413, ../sass/screen.scss */
.slider .slider-nav img {
  width: 10px;
  height: 10px;
}
/* line 418, ../sass/screen.scss */
.slider .slider-nav .slider-dots {
  font-size: 40px;
  color: #ebebeb;
}

/* line 429, ../sass/screen.scss */
.activedot {
  color: #0F68AA;
}

/* line 433, ../sass/screen.scss */
.activeslide {
  display: block;
}
